* {
	margin: 0;
	padding: 0;
	list-style: none;
	vertical-align: baseline;
}
.box { float: left; }

#root { 
	/*width:100%;/* Largura*/
	/*max-width: 1920px;/*resolucao maxima largura*/
	/*height: 420px;/* Altura*/
	
	position: absolute;
	width: 100%;
	height: 100%;
	/*min-width: 987px;*/
	
	/*position: absolute;
	width: 100%;
	height: 100%;
	min-width: 987px;*/
}

#principal { 
	width: 100%;/* Largura*/
	height: 50%;/* Altura*/
/*	background-color:#F00;*/
	display:block;
	position: relative;
}
#paginacao {
	padding: 2px 75% 2px 0%;
	display: block;
	text-align: center;

}
#lista { 
	width: 100%;/* Largura*/
	height: 50%;/* Altura*/ 
	display:block;
	position: relative;
	overflow:scroll;
}
.f-busca {
	width: 100%;
	height: 10%;
	padding: 20px 20% 50px 25%; /*espaçamentos superior, direito, inferior e esquerdo*/
	display: block;
	position: absolute;
	top: 50%;
	float: left;
}
#listaa { 
	width: 100%;/* Largura*/
	/*height: 100%;*//* Altura*/
	background-color:#EEE9BF;
}
#logo {
	width: 100%;
	height: 18%;
	padding: 2px 25% 5px 45%;
	display: block;
	position: absolute;
	top: 25%;
	float: left;
}
.conversor-div {
	width: 100%;
	height: 13%;
	padding: 2px 40% 5px 30%;
	display: block;
	position: absolute;
	top: 76%;
	text-align: center;
}
#rodape { 
	width: 100%;/* Largura*/
	height: 50px;/* Altura*/
	position: absolute;
	bottom: 0;
	left: 0;
	margin: 0 0 0 0;
	text-align: center;
	background-color: #2c2b2a;
}

#bt-down-mp3 {
	margin: 0% 10% 0% 0%;
}

bt-down-video {
	margin: 0% 10% 0% 0%;
}

/* Laptop/Tablet (1024px) */
@media only screen and (min-width: 481px) and (max-width: 1024px) and (orientation: landscape) {
	#principal { 
		width: 100%; 
		height: 50%;/* Altura*/
	}
	#lista { 
		width: 100%;/* Largura*/
		height: 50%;/* Altura*/
	}
	#listaa { 
		width: 100%;/* Largura*/
		/*height: 100%;*//* Altura*//
	}
	#rodape { 
		width: 100%; /* Largura*/
	}
}

/* Tablet Portrait (768px) */
@media only screen and (min-width: 321px) and (max-width: 1024px) and (orientation: portrait) {
	#principal { 
		width: 100%;/* Largura*/
		height: 50%;/* Altura*/
	}
	#lista { 
		width: 100%;/* Largura*/
		height: 50%;/* Altura*/
	}
	#listaa {
		width: 100%;/* Largura*/
		/*height: 100%;*//* Altura*/
	}
	#rodape { 
		width: 100%; 
	}
}

/* Phone Landscape (480px) */
@media only screen and (min-width: 321px) and (max-width: 480px) and (orientation: landscape) {
	#principal { 
		width: 100%; 
	}
	#lista { 
		width: 100%;
		height: 50%;/* Altura*/
	}
	#listaa {
		width: 100%;
		/*height: 100%;*//* Altura*/
	}
	#rodape { 
		width: 100%; 
	}
}

/* Phone Portrait (320px) */
@media only screen and (max-width: 320px) {
	#principal { 
		width: 100%; 
	}
	#lista { 
		width: 100%;
		height: 50%;/* Altura*/
	}
	#listaa {
		width: 100%;
		/*height: 100%;*//* Altura*/
	}
	#rodape { 
		width: 100%; 
	}
}

/* iPhone 5 Landscape */
@media only screen and (width: px) and (width: 568px) and (orientation: landscape) {
	#principal { 
		width: 100%; 
	}
	#lista { 
		width: 100%;
	}
	#listaa {
		width: 100%;
		/*height: 100%;*//* Altura*/
	}
	#rodape { 
		width: 100%; 
	}
}

/* iPhone 5 Portrait */
@media only screen and (width: px) and (width: 568px) and (orientation: portrait) {
	#principal { 
		width: 100%; 
	}
	#lista { 
		width: 100%;
	}
	#listaa {
		width: 100%;
		/*height: 100%;*//* Altura*/
	}
	#rodape { 
		width: 100%; 
	}
}

